
/* Style rules for table and its elements */
table,thead,tbody,td,th,tr{
    border: 1px solid black;
    border-collapse: collapse;
    font-family:Arial, Helvetica, sans-serif;
}

/* Style rules for table cells and headers */
td,th{
    padding: 10px 20px;
}

/* Style rule for table data cells */
td{
    text-align: center;
}

/* Style rule for table header cells */
th{
    background-color: rgb(228, 228, 228);
    color:rgb(83, 83, 83);
}

/* Style rule for the table */
table{
    margin: 50px;
    width: 600px;
}

/* Style rule for focused buttons */
button{
    font-size: medium;
    padding: 3px 7px;
}

button:focus{
    background-color: rgb(100, 8, 16);
    color: white;
}

#button{
    align-items: center;
}

/* Style rule for the main section containing the table */
#mainSection{
    width: fit-content;
    text-align: center;
    align-items: center;
    margin: auto;
}